@if (siteRoot != null && contextItem != null)
{
	<title>@siteRoot.SiteTitle | @contextItem.NavigationTitle </title>
}
@if (contextItem != null)
{
	<meta name="title" content="@contextItem.MetaTitle.RawValue" />
	<meta name="descriptiopn" content="@contextItem.MetaDescription.Value" />
	<meta name="keywords" content="@contextItem.MetaKeywords.Value" />
}