@using Sug.Ut.Metadata.Services
@model IPageMetadata

<title>@Model.SiteTitle | @Model.MetaTitle</title>
<meta name="title" content="@Model.MetaTitle" />
<meta name="descriptiopn" content="@Model.MetaDescription" />
<meta name="keywords" content="@Model.MetaKeywords" />
